body{
    background: #4070f4;
}

nav{
    height: 100px;
}

.nav-link{
    color: black;
    font-size: 20px;
}


.navbar-brand{
    color: black;
    font-size: 20px;

}

.data{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}


.data h1{
    text-align: center;
    font-weight: bold;
    color: white;
}


.data-name{
    border-bottom: 4px solid white;
    padding-bottom: 15px;
}
